{% extends 'notes/common/layout_without_header.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'notes/css/auth2.css' %}">
{% endblock %}

{% block content %}
<div class="auth-container">
    <h2>Change Password</h2>

    {% for message in messages %}
        <p class="error">{{ message }}</p>
    {% endfor %}

    <form method="POST" action="{% url 'update_password' %}">
        {% csrf_token %}

        <input type="password" name="current_password" placeholder="Enter Current Password" required>
        <input type="password" name="new_password" placeholder="Enter New Password" required>
        <input type="password" name="confirm_password" placeholder="Confirm Password" required>

        <button type="submit">Update Password</button>
    </form>
</div>
{% endblock %}
